<a href="https://colab.research.google.com/github/NancyRdz/Miner-a_de_datos/blob/main/Ej_Phyton_1845816.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Ejercicio 1
a=1845816
b="Nancy Janeth Rodríguez Pacheco"
print(a,b)

In [ ]:
#Ejercicio 2
a=int(input("Introduce un número: "))
b=int(input("Introduce otro número: "))
c=a+b
d=a*b
e=a-b
f=a/b
g=a**b
print("El primer número es: ", a)
print("El segundo número es: ",b)
print("La suma es: ", c)
print("El producto es: ", d)
print("La resta es: ", e)
print("La división es: ", f)
print("El resultado de elevar ", a, "a la ", b, "es: ", g)

In [ ]:
#Ejercicio 3
i=2
num=[3]
while i<=10:
  num.insert(i, i*3)
  i=i+1
print(num)
i=0
suma=0
while i<10:
  suma=suma+num[i]
  i=i+2
print (suma)

In [ ]:
#https://ellibrodepython.com/numeros-primos-python#:~:text=Para%20determinar%20si%20un%20n%C3%BAmero,es%20primo%20y%20devolvemos%20False%20.
#Ejercicio 4
a=0
while a == 0:
  print("Introuce un número")
  x=input()
  try:
    print("El número es:",float(x))
    a=1
  except ValueError:
    print("Introduce un número")
    a=0
y=float(x)
if y%2==0:
  print("El número es par")
else:
  print("El número es impar")
z=y-1
i=2
b=0 
while i<=z:
  if y%i!=0:
    b=b+0
  else:
    b=b+1
  i=i+1
if b==0:
  print("El número es primo")
else:
  print("El número no es primo")

In [ ]:
#Ejercicio 5
a=int(input("Introduce un número: "))
b=int(input("Introduce otro número: "))

def Suma(a,b):
    c=a+b
    return c

def Resta(a,b):
    c=a-b
    return c

def Multiplicacion(a,b):
    c=a*b
    return c
    
def Division(a,b):
    c=a/b
    return c
    
def Exponente(a,b):
    c=a**b
    return c

d=str(input("¿Qué operación desea realizar?: "))

if d=="Suma":
  print ("Suma(a,b) -->", Suma(a,b))
elif d=="Resta":
  print ("Resta(a,b) -->", Resta(a,b))
elif d=="Multiplicacion":
  print ("Multiplicacion(a,b) -->", Multiplicacion(a,b))
elif d=="Division":
  print ("Division(a,b) -->", Division(a,b))
elif d=="Exponente":
  print ("Exponente(a,b) -->", Exponente(a,b))

In [ ]:
#Tuplas_1
a=1.23456
b=1
c=True
d=1+2j

print(type(a))
print(type(b))
print(type(c))
print(type(d))

In [ ]:
#Tuplas_2
tup=(2,4,6,8,10,12,14,16,18,20)
print("Primer elemento: ", tup[0])
print("Último elemento: ",tup[9])

In [ ]:
#Tuplas_3
aux=list(tup)
aux.append("Hola")
aux.append("mucho")
aux.append("gusto")
tup=tuple(aux)
print("Tupla: ",tup)

In [ ]:
#Tuplas_4
a="Hola"
print("¿El elemento se encuentra en la tupla?",a in tup)

In [ ]:
#Listas_1
import random
lst=[0]*40

for i in range(40):
  lst[i]=random.randrange(0,500)

print(lst)

In [ ]:
#Listas_2
def num_par(l):
  x=list()
  for i in range (40):
    if l[i]%2==0:
      x.append(l[i])
  return x

def num_impar(l):
  x=list()
  for i in range(40):
    if l[i]%2!=0:
      x.append(l[i])
  return x

lista1=num_par(lst)
lista2=num_impar(lst)

print(lista1)
print(lista2)

In [ ]:
#Listas_3
lon1=len (lista1)
lon2=len (lista2)

print(lon1)
print (lon2)

In [ ]:
#Listas_4
lista1.sort(reverse=True)
lista2.sort()

print(lista1)
print(lista2)

In [ ]:
#Listas_5
lst.reverse()
print(lst)
x=lst.count(29)
print(x)
lst.insert(2,100)
print(lst)
lst.clear()
print(lst)

In [ ]:
#Diccionarios_1
dicc={"Juany":68, "Rosario":44, "Jorge":25, "Gustavo":12, "Armando":46, "Silvia":56}
print(dicc)

In [ ]:
#Diccionarios_2
val=list(dicc.values())
val.sort()
print(val)

In [ ]:
#Diccionarios_3
for key in dicc:
  print(key)

In [ ]:
#Diccionarios_4
dicc["Ismael"]=55
dicc["Kerim"]=2
print(dicc)

In [ ]:
#Sets_1
num_al=set()
for i in range (100):
  num_al.add(random.randrange(1,25))
print(num_al)

In [ ]:
#Sets_2
print(len(num_al))

In [ ]:
#Sets_3
set=[0]*5
for i in range(5):
  set[i]=random.randrange(1,11)
if set[i] in num_al:
  print("El valor %d aparece en el set inicial"%set[i])
else:
  print("El valor %d no aparece en el set inicial"%set[i])